<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav th:fragment="nav">
        <ul>
            <li>
                <a href="/">홈</a>
            </li>
            <li>
                <a href="/member">멤버</a>
            </li>
            <li>
                <a href="/board">게시판</a>
            </li>
            <li>
                <a href="/admin">어드민 샘플</a>
            </li>
            <li>
                <a href="/usersample">유저샘플</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout">로그아웃</a>
            </li>
        </ul>
    </nav>

</body>
</html>