<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <style>
        li.active a{
            color:red;
        }
    </style>
</head>
<body>


<div class="content-wrapper" layout:fragment="content_body">
    <span class="helloworld">Hello Member! </span>

    <form method="post" th:object="${member}">
        이름 : <input type="text" name="username" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </span>

        <br>
        비밀번호 : <input type="text" name="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <br>
        <input type="submit">
    </form>

    <hr>

    <th:block th:if="${pageinfo != null}">
        <div th:each="member : ${pageinfo.content}">
            유저 이름 : <span th:text="${member.username}"></span><br>
            유저 비밀번호 : <span th:text="${member.password}"></span>
        </div>
        <hr>
        <ul th:replace="~{common/pagination :: pagination('/member')}"></ul>
    </th:block>

</div>


</body>
</html>